<div class="background">
    <app-head></app-head>
    <div class="intro">
        <div class="column">
            <p class="pick"><span style="color: rgb(87, 87, 87);">02</span> MEET YOUR CREW</p>
            <div class="description">
                <span class="title"> {{name}}</span>
                <p>{{description}}</p>
            </div>
            <div class="buttons">
                <div *ngFor="let crew of data.crew">
                    <button (click)="changePerson(crew.name)" [ngClass]="{a:name==crew.name, button: name!=crew.name}"></button>
                </div>
            </div>
        </div>
        <img src={{img}}>
    </div>
</div>
